body {
	background-color: lightblue;
	font-family: 'Itim', cursive;
	margin: 17.5px;
}

.menu{
	background-color: #333333;
	top: 0;
	padding : 25px;
	border-radius: 4px;
}
#index {
	margin: 0%;
	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;
}
#index a{
	text-decoration: none;
	border-radius: 15px;
    color: #FFFFFF;
    padding : 25px 25px 25px 25px ;
    text-decoration: none;
    font-size: 18pt;
    font-style: bold;
    transition-duration: 0.4s;
}
#index a:hover {
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	padding: 15px;
	cursor: pointer;
	margin: 5px;
}
#books {
	margin: 0%;
	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;
}
#books a{
	text-decoration: none;
	border-radius: 15px;
    color: #FFFFFF;
    padding : 25px 25px 25px 25px ;
    text-decoration: none;
    font-size: 18pt;
    font-style: bold;
    transition-duration: 0.4s;
}
#books a:hover {
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	padding: 15px;
	cursor: pointer;
	margin: 5px;
}
#contact {
	margin: 0%;
	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;
}
#contact a{
	text-decoration: none;
	border-radius: 15px;
    color: #FFFFFF;
    padding : 25px 25px 25px 25px ;
    text-decoration: none;
    font-size: 18pt;
    font-style: bold;
    transition-duration: 0.4s;
}
#contact a:hover {
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	padding: 15px;
	cursor: pointer;
	margin: 5px;
}
#register {
	margin: 0%;
	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;
}
#register a{
	text-decoration: none;
	border-radius: 15px;
    color: #FFFFFF;
    padding : 25px 25px 25px 25px ;
    text-decoration: none;
    font-size: 18pt;
    font-style: bold;
    transition-duration: 0.4s;
}
#register a:hover {
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	padding: 15px;
	cursor: pointer;
	margin: 5px;
}

#login{
	margin-left: 35%;
	border-radius: 4px;
	background-color: #ffcc00;
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
	transition: all 0.5s;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#login a{
	text-decoration: none;
	border-radius: 15px;
    color: #262626;
    padding : 25px 25px 25px 25px ;
    text-decoration: none;
    font-size: 18pt;
    font-style: bold;
    transition-duration: 0.4s;
}
#login a:hover {
	border-radius: 4px;
	border: none;
	color: #FFFFFF;
	text-align: center;
	padding: 15px;
	cursor: pointer;
	margin: 5px;
}
#content {
	padding:25px;
	background-color: #FFB6C1;
}
h1 {
	text-align: center;
}
#but {
    padding-left: 10%;
}
.footer {
	font-size: 12pt;
	background-color: #c6c6c6;
    color:#262626;
    clear:both;
    text-align:center;
   	padding: 15px;
}

